# Task 2 : Quantitative Analysis using pynance and Talib

In [1]:
# reload the module
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path

# Add the project root directory to sys.path
project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.append(str(project_root))

In [3]:
# importing libraries
import talib
import pandas as pd
import yfinance as yf
import plotly as px
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os

In [4]:
# import modules
from src.y_finance_data_loader import DataLoader

### Loading and Preparing Data

In [5]:
# Load the dataset
directory = '../data/yfinance_data'
# List all files in the directory
file_names = os.listdir(directory)
for file_name in file_names:
    if os.path.isfile(os.path.join(directory, file_name)):
        print(os.path.join(directory, file_name))
        data_loader = DataLoader(os.path.join(directory, file_name))
        ticker_symbol = file_name.split('_')[0]
        df = data_loader.load_data()
        # Keep each dataframe in a variable with their ticker symbol
        locals()[ticker_symbol] = df

../data/yfinance_data\AAPL_historical_data.csv
../data/yfinance_data\AMZN_historical_data.csv
../data/yfinance_data\GOOG_historical_data.csv
../data/yfinance_data\META_historical_data.csv
../data/yfinance_data\MSFT_historical_data.csv
../data/yfinance_data\NVDA_historical_data.csv
../data/yfinance_data\TSLA_historical_data.csv

In [6]:
# Filter Columns & Standardize DataFrames
stock_data = {
    'AAPL': AAPL,
    'AMZN': AMZN,
    'MSFT': MSFT,
    'GOOG': GOOG,
    'META': META,
    'TSLA': TSLA
}
required_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
for ticker, df in stock_data.items():
    stock_data[ticker] = df[required_columns]

In [7]:

# Loop through and display head() and info()
for ticker, df in stock_data.items():
    print(f"\n{ticker} Data (First 5 Rows):")
    print(df.head())
    print(f"\n{ticker} Info:")
    df.info()
    print("-" * 50)  # Separator for readability

AAPL Data (First 5 Rows):
        Date      Open      High       Low     Close     Volume
0 1980-12-12  0.128348  0.128906  0.128348  0.128348  469033600
1 1980-12-15  0.122210  0.122210  0.121652  0.121652  175884800
2 1980-12-16  0.113281  0.113281  0.112723  0.112723  105728000
3 1980-12-17  0.115513  0.116071  0.115513  0.115513   86441600
4 1980-12-18  0.118862  0.119420  0.118862  0.118862   73449600

AAPL Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10998 entries, 0 to 10997
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10998 non-null  datetime64[ns]
 1   Open    10998 non-null  float64
 2   High    10998 non-null  float64
 3   Low     10998 non-null  float64
 4   Close   10998 non-null  float64
 5   Volume  10998 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 515.7 KB
--------------------------------------------------

AMZN Data (First 5 Rows):
        Date      Open      High       Low     Close      Volume
0 1997-05-15  0.121875  0.125000  0.096354  0.097917  1443120000
1 1997-05-16  0.098438  0.098958  0.085417  0.086458   294000000
2 1997-05-19  0.088021  0.088542  0.081250  0.085417   122136000
3 1997-05-20  0.086458  0.087500  0.081771  0.081771   109344000
4 1997-05-21  0.081771  0.082292  0.068750  0.071354   377064000

AMZN Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6846 entries, 0 to 6845
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6846 non-null   datetime64[ns]
 1   Open    6846 non-null   float64
 2   High    6846 non-null   float64
 3   Low     6846 non-null   float64
 4   Close   6846 non-null   float64
 5   Volume  6846 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 321.0 KB
--------------------------------------------------

MSFT Data (First 5 Rows):
        Date      Open      High       Low     Close      Volume
0 1986-03-13  0.088542  0.101563  0.088542  0.097222  1031788800
1 1986-03-14  0.097222  0.102431  0.097222  0.100694   308160000
2 1986-03-17  0.100694  0.103299  0.100694  0.102431   133171200
3 1986-03-18  0.102431  0.103299  0.098958  0.099826    67766400
4 1986-03-19  0.099826  0.100694  0.097222  0.098090    47894400

MSFT Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9672 entries, 0 to 9671
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9672 non-null   datetime64[ns]
 1   Open    9672 non-null   float64
 2   High    9672 non-null   float64
 3   Low     9672 non-null   float64
 4   Close   9672 non-null   float64
 5   Volume  9672 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 453.5 KB
--------------------------------------------------

GOOG Data (First 5 Rows):
        Date      Open      High       Low     Close     Volume
0 2004-08-19  2.490664  2.591785  2.390042  2.499133  897427216
1 2004-08-20  2.515820  2.716817  2.503118  2.697639  458857488
2 2004-08-23  2.758411  2.826406  2.716070  2.724787  366857939
3 2004-08-24  2.770615  2.779581  2.579581  2.611960  306396159
4 2004-08-25  2.614201  2.689918  2.587302  2.640104  184645512

GOOG Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5020 non-null   datetime64[ns]
 1   Open    5020 non-null   float64
 2   High    5020 non-null   float64
 3   Low     5020 non-null   float64
 4   Close   5020 non-null   float64
 5   Volume  5020 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 235.4 KB
--------------------------------------------------

META Data (First 5 Rows):
        Date       Open       High        Low      Close    Volume
0 2012-12-12  28.000000  28.139999  27.370001  27.580000  46704200
1 2012-12-13  27.590000  28.750000  27.430000  28.240000  81051600
2 2012-12-14  28.180000  28.330000  26.760000  26.809999  91631600
3 2012-12-17  26.770000  27.000000  26.320000  26.750000  57742500
4 2012-12-18  26.959999  27.910000  26.900000  27.709999  60512900

META Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2926 non-null   datetime64[ns]
 1   Open    2926 non-null   float64
 2   High    2926 non-null   float64
 3   Low     2926 non-null   float64
 4   Close   2926 non-null   float64
 5   Volume  2926 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 137.3 KB
--------------------------------------------------

TSLA Data (First 5 Rows):
        Date      Open      High       Low     Close     Volume
0 2010-06-29  1.266667  1.666667  1.169333  1.592667  281494500
1 2010-06-30  1.719333  2.028000  1.553333  1.588667  257806500
2 2010-07-01  1.666667  1.728000  1.351333  1.464000  123282000
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   77097000
4 2010-07-06  1.333333  1.333333  1.055333  1.074000  103003500

TSLA Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3545 entries, 0 to 3544
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3545 non-null   datetime64[ns]
 1   Open    3545 non-null   float64
 2   High    3545 non-null   float64
 3   Low     3545 non-null   float64
 4   Close   3545 non-null   float64
 5   Volume  3545 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 166.3 KB
--------------------------------------------------

### Apply Analysis Indicators with Talib

In [8]:
# import the module for Analysis
from src.quantitative_analysis.q_analysis import QuantitativeAnalysis

In [9]:

AAPL_analysis = QuantitativeAnalysis(stock_data['AAPL'])
# Perform stock analysis for AAPL
AAPL['SMA20'] = AAPL_analysis.calculate_SMA('Close',20)
AAPL['EMA'] = AAPL_analysis.calculate_EMA('Close',20)
AAPL['RSI'] = AAPL_analysis.calculate_RSI('Close',14)
AAPL[['MACD', 'MACD_signal', 'MACD_hist']] = AAPL_analysis.calculate_MACD('Close')
AAPL['Volatility'] = AAPL_analysis.calculate_volatility('Close',21)
AAPL['Daily Returns'] = AAPL_analysis.calculate_daily_returns('Close')